# Conclusão da segmentação de clientes do Shopping

Segue os dataframes criados com algoritmos de machine learning não supervisionados para agrupar clientes que frequentam um shoppiing baseado em características semelhantes.

Os dataframes foram salvos em csv no notebook final do processo do notebook SEG_CLIEN_CLUST

# Dataframes criados / arquivo CSV:

* df1 / km2atrib.csv - K-means com 2 atributos ( rendimento e pontuacao )
* df2 / kmesc.csv - K_means escalonado com todos os atributos
* df3 / kmpca.csv - K_means com PCA reduzindo atributos para 2
* df4 / ahpca.csv - Agrupamento Hierárquico com PCA reduzindo atributos para 2
* df5 / ahfull.csv - Agrupamento Hierárquico com todos os atributos
* df6 / dbscanpca.csv - DBSCAN com PCA reduzindo atributos para 2
* df7 / dbscanfull.csv - DBSCAN com todos os atributos
* df8 / mspca.csv - Mean-Shift com PCA reduzindo atributos para 2
* df9 / msfull.csv - Mean-Shift com todos os atributos
* df10 / kproto.csv - K-Prototypes usando dados numéricos e categóricos

In [10]:
import pandas as pd

In [11]:
# K-means com 2 atributos ( rendimento e pontuacao )
df1 = pd.read_csv("/content/drive/MyDrive/MACHINE_LEARNNING/ML não supervisionado/km2atrib.csv", sep=";", encoding="iso-8859-1")

In [12]:
df1.head()

   CustomerID  genero  idade  rendimento  pontuacao  Grupo
0           1    Male     19          15         39      2
1           2    Male     21          15         81      0
2           3  Female     20          16          6      2
3           4  Female     23          16         77      0
4           5  Female     31          17         40      2

In [13]:
# K_means escalonado com todos os atributos
df2 = pd.read_csv("/content/drive/MyDrive/MACHINE_LEARNNING/ML não supervisionado/kmesc.csv", sep=";", encoding="iso-8859-1")
df2.head()

   CustomerID  genero  idade  rendimento  pontuacao  Grupo
0           1    Male     19          15         39      5
1           2    Male     21          15         81      5
2           3  Female     20          16          6      3
3           4  Female     23          16         77      3
4           5  Female     31          17         40      3

In [14]:
# K_means com PCA reduzindo atributos para 2
df3 = pd.read_csv("/content/drive/MyDrive/MACHINE_LEARNNING/ML não supervisionado/kmpca.csv", sep=";", encoding="iso-8859-1")
df3.head()

   CustomerID  genero  idade  rendimento  pontuacao  Grupo
0           1    Male     19          15         39      0
1           2    Male     21          15         81      0
2           3  Female     20          16          6      1
3           4  Female     23          16         77      0
4           5  Female     31          17         40      1

In [15]:
# Agrupamento Hierárquico com PCA reduzindo atributos para 2
df4 = pd.read_csv("/content/drive/MyDrive/MACHINE_LEARNNING/ML não supervisionado/ahpca.csv", sep=";", encoding="iso-8859-1")
df4.head()

   CustomerID  genero  idade  rendimento  pontuacao  Grupo
0           1    Male     19          15         39      2
1           2    Male     21          15         81      2
2           3  Female     20          16          6      2
3           4  Female     23          16         77      2
4           5  Female     31          17         40      2

In [16]:
# Agrupamento Hierárquico com todos os atributos
df5 = pd.read_csv("/content/drive/MyDrive/MACHINE_LEARNNING/ML não supervisionado/ahfull.csv", sep=";", encoding="iso-8859-1")
df5.head()

   CustomerID  genero  idade  rendimento  pontuacao  Grupo
0           1    Male     19          15         39      5
1           2    Male     21          15         81      5
2           3  Female     20          16          6      4
3           4  Female     23          16         77      0
4           5  Female     31          17         40      4

In [17]:
# DBSCAN com PCA reduzindo atributos para 2
df6 = pd.read_csv("/content/drive/MyDrive/MACHINE_LEARNNING/ML não supervisionado/dbscanpca.csv", sep=";", encoding="iso-8859-1")
df6.head()

   CustomerID  genero  idade  rendimento  pontuacao  Grupo
0           1    Male     19          15         39      0
1           2    Male     21          15         81      0
2           3  Female     20          16          6     -1
3           4  Female     23          16         77      1
4           5  Female     31          17         40     -1

In [18]:
# DBSCAN com todos os atributos
df7 = pd.read_csv("/content/drive/MyDrive/MACHINE_LEARNNING/ML não supervisionado/dbscanfull.csv", sep=";", encoding="iso-8859-1")
df7.head()

   CustomerID  genero  idade  rendimento  pontuacao  Grupo
0           1    Male     19          15         39     -1
1           2    Male     21          15         81      0
2           3  Female     20          16          6     -1
3           4  Female     23          16         77      1
4           5  Female     31          17         40      1

In [19]:
# Mean-Shift com PCA reduzindo atributos para 2
df8 = pd.read_csv("/content/drive/MyDrive/MACHINE_LEARNNING/ML não supervisionado/mspca.csv", sep=";", encoding="iso-8859-1")
df8.head()

   CustomerID  genero  idade  rendimento  pontuacao  Grupo
0           1    Male     19          15         39      1
1           2    Male     21          15         81      1
2           3  Female     20          16          6      0
3           4  Female     23          16         77      1
4           5  Female     31          17         40      1

In [20]:
# Mean-Shift com todos os atributos
df9 = pd.read_csv("/content/drive/MyDrive/MACHINE_LEARNNING/ML não supervisionado/msfull.csv", sep=";", encoding="iso-8859-1")
df9.head()

   CustomerID  genero  idade  rendimento  pontuacao  Grupo
0           1    Male     19          15         39      1
1           2    Male     21          15         81      1
2           3  Female     20          16          6      0
3           4  Female     23          16         77      0
4           5  Female     31          17         40      0

In [21]:
# K-Prototypes usando dados numéricos e categóricos
df10 = pd.read_csv("/content/drive/MyDrive/MACHINE_LEARNNING/ML não supervisionado/kproto.csv", sep=";", encoding="iso-8859-1")
df10.head()

   CustomerID  genero  idade  rendimento  pontuacao  grupo
0           1    Male     19          15         39      3
1           2    Male     21          15         81      3
2           3  Female     20          16          6      0
3           4  Female     23          16         77      3
4           5  Female     31          17         40      0